<ion-header>
  <ion-toolbar>
    <ion-icon src="assets/mastermind-logo.svg" slot="start"></ion-icon>
    <ion-buttons slot="end">
      <ion-button size="large" expand="block" shape="round">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col>
    <ion-row>{{ constants.sections[1] }}</ion-row>
    <ion-row>
      <ion-col *ngFor="let value of constants.highScore">
        <ion-card>
          <ion-card-content>{{ value }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-row>{{ constants.sections[2] }}</ion-row>
    <ion-row>
      <ion-card id="settings-button" *ngFor="let setting of constants.settings">
        <ion-card-content>
          <ion-toggle>{{ setting }}</ion-toggle></ion-card-content
        >
      </ion-card>
    </ion-row>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-button expand="block">New Game</ion-button>
  </ion-col>
</ion-row>
